<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <link th:href="${@configInfo.layuiCss}" rel="stylesheet" media="all">
</head>
<body>
<fieldset class="layui-elem-field ">
    <div class="layui-field-box">
        <form class="layui-form" lay-filter="form">
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" placeholder="请输入章节名称" lay-verify="required"
                           autocomplete="off" class="layui-input name">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">原名称</label>
                <div class="layui-input-block">
                    <input type="text" name="rawname" placeholder="请输入原章节名称" lay-verify="required"
                           autocomplete="off" class="layui-input rawname">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">书籍</label>
                    <div class="layui-input-block">
                        <select name="bookid" class="bookid" lay-verify="required" disabled>
                            <option value=""></option>
                            <option th:each="item : ${optionBook}" th:value="${item.id}"
                                    th:text="${item.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">配置</label>
                    <div class="layui-input-block">
                        <select name="configid" class="configid" lay-verify="required" disabled>
                            <option value=""></option>
                            <option th:each="item : ${optionConfig}" th:value="${item.id}"
                                    th:text="${item.name}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <input type="text" name="seqid" placeholder="请输入排序id" lay-verify="required|number"
                           autocomplete="off" class="layui-input seqid">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">链接</label>
                <div class="layui-input-block">
                    <input type="text" name="url" placeholder="请输入章节链接" lay-verify="required|url"
                           autocomplete="off" class="layui-input url">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit lay-filter="submit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary reset">重置</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<script>const base = "[[@{/}]]";
const id = [[${id}]];</script>
<script th:src="${@configInfo.layuiJ.js}"></script>
<script th:src="@{/js/common/common.j.js}"></script>
<script th:src="@{/js/chapter/add.j.js}"></script>
</body>
</html>