<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${chapter.name}"></title>
    <link th:href="${@configInfo.layuiCss}" rel="stylesheet" media="all">
</head>
<body>
<blockquote class="layui-elem-quote">
    <fieldset class="layui-elem-field">
        <legend th:text="${chapter.name} + ' - ' + ${book.name}"></legend>
        <br/>
        <div class="layui-field-box" th:each="i : ${paragraphList}" th:text="'&nbsp;&nbsp;' + ${i.content}"></div>
    </fieldset>
    <a class="layui-btn layui-btn-xs prev" th:if="${previd} != 'null'">上一章</a>
    <label th:if="${previd} != 'null' and ${nextid} != 'null'">&nbsp;&nbsp;</label>
    <a class="layui-btn layui-btn-xs next" th:if="${nextid} != 'null'">下一章</a>
</blockquote>
<script>const base = "[[@{/}]]";const previd = [[${previd}]];const nextid = [[${nextid}]];</script>
<script th:src="${@configInfo.layuiJs}"/>
<script th:src="@{/js/common/common.js}"/>
<script th:src="@{/js/chapter/show.js}"/>
</body>
</html>