<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <link th:href="@{${@configInfo.layuiCss}}" rel="stylesheet" media="all">
</head>
<body>
<fieldset class="layui-elem-field ">
    <div class="layui-field-box">
        <form class="layui-form" lay-filter="form">
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" placeholder="请输入书籍名称" lay-verify="required"
                           autocomplete="off" class="layui-input name">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">站点</label>
                <div class="layui-input-block">
                    <select name="siteid" class="siteid" lay-verify="required" lay-filter="siteid">
                        <option value=""></option>
                        <option th:each="item : ${optionSite}" th:value="${item.id}" th:text="${item.name}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">配置</label>
                <div class="layui-input-block">
                    <select name="configid" class="configid" lay-verify="required">
                        <option value=""></option>
                        <option th:each="item : ${optionConfig}" th:value="${item.id}" th:text="${item.name}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">链接</label>
                <div class="layui-input-block">
                    <input type="text" name="url" placeholder="书籍链接" lay-verify=""
                           autocomplete="off" class="layui-input url">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">起始链接</label>
                <div class="layui-input-block">
                    <input type="text" name="starturl" placeholder="请输入起始章节链接" lay-verify="required|url"
                           autocomplete="off" class="layui-input starturl">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">任务开关</label>
                <div class="layui-input-block">
                    <input type="radio" name="taskswitch" value="0" title="关闭">
                    <input type="radio" name="taskswitch" value="1" title="开启" checked>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">标题处理方式</label>
                <div class="layui-input-block">
                    <select name="titleType" class="titleType" lay-verify="required" lay-filter="titleType">
                        <option value="0">无处理</option>
                        <option value="1">使用分隔符</option>
                        <option value="2">数字开头无分隔符</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item"><!--startIndexDiv" style="display: none;">-->
                <label class="layui-form-label">处理起始索引</label>
                <div class="layui-input-block">
                    <input type="text" name="startIndex" value="0" placeholder="请输入处理起始索引" lay-verify="startIndex"
                           autocomplete="off" class="layui-input startIndex">
                </div>
            </div>
            <div class="layui-form-item delimiterDiv" style="display: none;">
                <label class="layui-form-label">分隔符</label>
                <div class="layui-input-block">
                    <input type="text" name="delimiter" placeholder="请输入分隔符" lay-verify="delimiter"
                           autocomplete="off" class="layui-input delimiter">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">结束链接判断方式</label>
                <div class="layui-input-block">
                    <select name="endType" class="endType" lay-verify="required" lay-filter="endType">
                        <option value="0">不以html结尾或和本页链接相同</option>
                        <option value="1">以指定结束符结尾</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item endCharacterDiv" style="display: none;">
                <label class="layui-form-label">结束符</label>
                <div class="layui-input-block">
                    <input type="text" name="endCharacter" value="" placeholder="请输入处理起始索引" lay-verify="endCharacter"
                           autocomplete="off" class="layui-input endCharacter">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit lay-filter="submit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary reset">重置</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<script>const base = "[[@{/}]]";
const id = [[${id}]];</script>
<script th:src="@{${@configInfo.layuiJs}}"></script>
<script th:src="@{/js/common/common.js}"></script>
<script th:src="@{/js/book/add.js}"></script>
</body>
</html>